body {
	background-color: black;
	color: darkgray;
  margin: 0;
	font-family: "Inconsolata", monospace;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: black;
	background-color: white;
}

a:visited {
  color: #007bff;
}


@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
