body {
	background-color: grey;
}

.flex-container{
	border: 1px solid black;
	background-color: blue;
	padding: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
	width: 80%;
	height: 400px;
	margin: 0 auto;
}

.box{
	border: 1px solid rgb(70,69,69);
	background-color: white;
	color: black;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	width: 400px;
	line-height: 120px;
	text-align: center;
	margin: 5px;
}
